  body {
    background-color: #fefefe;
  }

  /* latin */
  @font-face {
    font-family: 'Baloo Bhaina 2';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/qWcwB6yyq4P9Adr3RtoX1q6ySiQjtiEnm4c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'IranSans';
    src: url("../assets/fonts/IRANSansWeb.woff") format("woff");
    font-weight: normal;
  }

  @font-face {
    font-family: 'IranSans-bold';
    src: url("../assets/fonts/IRANSansWeb_Bold.woff") format("woff");
    font-weight: bold;
  }

  .blex-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    margin-top: -2rem;
    margin-bottom: 40px;
  }

  .blex-card{
    display: inline-block;
    text-align: left;
    margin-right: .6em;
    margin-left: .6em;
  }

  .blex-card-title{
    font-size: 1.7rem;
    font-weight: 400;
    padding-top: 10px;
  }

  .blex-card-title a{
    display: inline-block;
    color: #4b5066;
    font-weight: 300;
  }

  .blex-card-title a:hover{
    display: inline-block;
    color: #7880a1;
    font-weight: 300;
    text-decoration: none;
  }

  .blex-grid-title{
    font-size: 2rem;
    font-weight: 400;
    margin: 10px 0 0;
    padding-top: 10px;
    color:#4b5066;
  }

  .blex-grid{
    display:flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .grid-single-letter-hr{
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .desc-single-letter-hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .blex-grid-term{
    width: 270px;
    margin-bottom: 40px;
    margin-right: 3em;
  }

  .blex-grid-term-title{
    display: inline;
    font-size: 1.2rem;
    font-family: avenirnext,Lato,Sans-Serif;
  }

  .blex-grid-term-title a {
    display: inline-block;
    color: #4b5066;
    font-weight: 300;
  }

  .blex-grid-term-title a:hover {
    display: inline-block;
    color: #7880a1;
    font-weight: 300;
    text-decoration: none;
  }

  .blex-nav-wrapper {
    left: 0;
    right: 0;
    top:0;
    position: fixed;
    background-color: #272838;
    box-shadow: #444444 0 0 20px;
    z-index: 5;
  }

  .h1-en {
    font-size: 1.6rem !important;
    margin-bottom: 10px;
    margin-top: 15px;
    font-family: Lato,Sans-Serif;
  }

  .h1-fa {
    font-family: IranSans-bold;
    font-size:1.3em
  }

  .mdkl-hr{
    margin-top: 5px; 
    margin-bottom: 25px;
  }

  .mdkl-body{
    direction: rtl;
    text-align: right;
    font-family: IranSans;
    line-height: 1.7em;
  }

  .mdkl-body a{
    color:#2b2b2b;
    text-decoration: underline;
  }

  .mdkl-body a:hover{
    color:#000;
    text-decoration: underline;
  }

  .dark-row{
    background-color: #fefefe;
  }

  .light-row{
    background-color: #fefefe;
  }

  .ir_title {
    font-family: IranSans;
    font-size: 1em;
    line-height: 1.7em;
  }

  .hamburgermenuitem a{
    font-family:IranSans-bold;
    font-size:1.4em;
    color:#f4f4f4;
    text-decoration: none;
  }

  .hamburgermenuitem a:hover{
    font-family:IranSans-bold;
    font-size:1.4em;
    color:#f4f4f4;
    text-decoration: none;
  }